.Dropdown {
    position: relative;
    height: 30px;
    cursor: pointer;
    display: flex;
}

.Dropdown-label {
    display: flex;
    align-items: center;
}

.Dropdown-menu {
    z-index: 100;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
}

.Dropdown .Dropdown-menu > div:hover {
    background-color: #F4F7F9;
}
