.SidebarIcon {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
}

.SidebarIcon:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.SidebarIcon-image {
    height: 34px;
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SidebarIcon-title {
    font-size: 12px;
    padding: 4px 0;
}