.Fulfillment {
    color: #354650;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
    color: #354650;
}

.Fulfillment-image {
    margin-right: 9px;
}
