.DropdownProviderStatus.Dropdown {
    height: auto;
}

.DropdownProviderStatus .Dropdown-menu {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px #949494;
}

.DropdownProviderStatus .Dropdown-opiton {
    border-bottom: 1px solid #E2E7EB;
}

.DropdownProviderStatus .Dropdown-opiton:last-child {
    border-bottom: none;
}
