.FeedbackWindow .ModalWindow-window {
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.FeedbackWindow textarea {
    background-color: #F5F9FC;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #D9E2EA;
    border-radius: 6px;
    height: 100px;
    margin-bottom: 20px;
}

.FeedbackWindow .ColorButton {
    height: 40px;
}