.ProviderTable {
    width: 100%;
    border-collapse: collapse;
  }
  
.ProviderTable th {
    padding: 5px 20px;
    text-align: left;
    font-size: 12px;
    color: #728B9B;
    font-weight: normal;
    background-color: #F4F7F9;
}

.ProviderTable .ProviderRow {
    height: 50px;
}

.ProviderTable .ProviderRow:nth-child(even) {
    background-color: #F4F7F9;
}

.ProviderTable .ProviderRow.ProviderRow-cancel {
    background-color: #FFEFF2;
}
