.GoBack {
    color: #354650;
    font-size: 13px;
    text-transform: uppercase;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.GoBack:hover {
    background-color: rgba(77, 193, 252, 0.2);
}

.GoBack-image {
    margin-right: 14px;
}