.DropdownProviderActions-action {
    padding: 12px 15px;
}

.DropdownProviderActions .KebabButton {
    width: 20px;
}

.DropdownProviderActions .Dropdown .Dropdown-menu {
    right: 0;
    white-space: nowrap;
}
