.Content {
    margin: 20px;
    padding: 19px 20px 20px 20px;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
}

.Content-page-title {
    height: 23px;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 14px 0;
    color: #354650;
}
