.ProviderRow {
    font-size: 14px;
}

.ProviderRow td {
    padding: 5px 14px;
    white-space: nowrap;
    text-align: left;
}

.ProviderRow-type img {
    margin: 0 4px;
}

.ProviderRow .ProviderRow-type-1 {
    padding-left: 19px;
}

.ProviderRow .ProviderRow-type-2 {
    padding-left: 3px;
}

.ProviderRow .ProviderRow-name {
    font-weight: normal;
}

.ProviderRow .ProviderRow-status {
    padding: 0;
}

.ProviderRow .ProviderRow-controls {
    width: 154px;
    padding-right: 22px;
}
