.ColorButton_blue, ColorButton_green, .ColorButton {
    border-radius: 4px;
    line-height: 30px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}

.ColorButton_blue {
    background-color: #54D0FF;
}

.ColorButton_blue:hover {
    background-color: #28BBFD;
}

.ColorButton_green {
    background-color: #29C581;
}

.ColorButton_green:hover {
    background-color: #21AF65;
}
