.GoToCase {
    width: 150px;
    align-items: center;
}

.GoToCase-input {
    background-color: #F5F9FC;
    font-weight: normal;
    padding: 0 0 0 12px;
    margin: 0;
    height: 33px;
    line-height: 33px;
    width: 101px;
    font-size: 14px;
    color: #728B9B;
    border: 1px solid #DBE5EB;
    border-radius: 5px 0 0 5px;
}

.GoToCase-go {
    height: 35px;
    cursor: pointer;
}

.GoToCase-go:hover {
    filter: contrast(1.2)
}