@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

html, body, #root {
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #ebeff4;
}

input, textarea {
  font-weight: 200;
  font-family: 'Lato', sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-spring {
    flex-grow: 1;
}
