.ProviderControls {
    width: 154px;
}

.ProviderControls .ColorButton {
    flex: 0 0 60px;
    height: 30px;
    padding: 0;
}

.ProviderControls .ColorButton:nth-child(2) {
    margin-left: 8px;
}

.ProviderControls .DropdownProviderActions {
    margin-left: 10px;
}
