.ModalWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ModalWindow-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 47, 61, 0.6);
}

.ModalWindow-window {
    position: relative;
    margin: 40px auto 0 auto;
    background: white;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.ModalWindow-close {
    position: absolute;
    top: 5px;
    right: 13px;
    font-size: 20px;
    color: #858e96;
    cursor: pointer;
}