.ProviderStatus {
    white-space: nowrap;
    line-height: 24px;
    align-items: center;
    padding: 9px 20px;
    width: 190px;
}

.ProviderStatus-icon {
    margin-right: 20px;
    width: 20px;
    text-align: center;
}
